<!--
  templateType: page
  isAvailableForNewContent: true
  label: Landing page
-->
{% extends "./layouts/base.hubl.html" %}

{% import "../helpers/variables.hubl.html" %}

{% block body %}
  {% dnd_area "dnd_area"
    label="Main section"
  %}
    {% include_dnd_partial
      path="../sections/header.hubl.html",
      context={
        "heading": {
          "text": "Lorem ipsum dolor sit amet"
        },
        "content": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.",
        "image": {
          "alt": "Section preview image"
        }
      }
    %}

    {% dnd_section
      padding={
        "top": section_vertical_spacing_medium,
        "bottom": section_vertical_spacing_medium
      }
    %}
      {% dnd_column %}
        {% dnd_row %}
          {% dnd_module
            path="../components/modules/Button",
            groupButtons=[
              {
                "buttonContentText": "Button 2",
                "buttonContentLink": {
                  "url": {
                    "href": "#"
                  }
                },
                "buttonContentShowIcon": false,
                "buttonContentIcon": {
                  "name": "arrow-right"
                },
                "buttonContentIconPosition": "right"
              }
            ],
            groupStyle={
              "alignment": {
                "horizontal_align": "CENTER"
              },
              "buttonStyleSize": "medium",
              "buttonStyleVariant": "primary"
            }
          %}
          {% end_dnd_module %}
        {% end_dnd_row %}
      {% end_dnd_column %}
    {% end_dnd_section %}

    {% dnd_section
      padding={
        "top": section_vertical_spacing_medium,
        "bottom": section_vertical_spacing_medium
      }
    %}
      {% dnd_column %}
        {% dnd_row %}
          {% dnd_module
            path="../components/modules/Button",
            groupButtons=[
              {
                "buttonContentText": "Button 3",
                "buttonContentLink": {
                  "url": {
                    "href": "#"
                  }
                },
                "buttonContentShowIcon": false,
                "buttonContentIcon": {
                  "name": "arrow-right"
                },
                "buttonContentIconPosition": "right"
              }
            ],
            groupStyle={
              "alignment": {
                "horizontal_align": "CENTER"
              },
              "buttonStyleSize": "medium",
              "buttonStyleVariant": "primary"
            }
          %}
          {% end_dnd_module %}
        {% end_dnd_row %}
      {% end_dnd_column %}
    {% end_dnd_section %}

    {% dnd_section
      padding={
        "top": section_vertical_spacing_medium,
        "bottom": section_vertical_spacing_medium
      }
    %}
      {% dnd_column %}
        {% dnd_row %}
          {% dnd_module
            path="../components/modules/Button",
            groupButtons=[
              {
                "buttonContentText": "Button 4",
                "buttonContentLink": {
                  "url": {
                    "href": "#"
                  }
                },
                "buttonContentShowIcon": false,
                "buttonContentIcon": {
                  "name": "arrow-right"
                },
                "buttonContentIconPosition": "right"
              }
            ],
            groupStyle={
              "alignment": {
                "horizontal_align": "CENTER"
              },
              "buttonStyleSize": "medium",
              "buttonStyleVariant": "primary"
            }
          %}
          {% end_dnd_module %}
        {% end_dnd_row %}
      {% end_dnd_column %}
    {% end_dnd_section %}

    {% dnd_section
      padding={
        "top": section_vertical_spacing_medium,
        "bottom": section_vertical_spacing_medium
      }
    %}
      {% dnd_column %}
        {% dnd_row %}
          {% dnd_module
            path="../components/modules/Button",
            groupButtons=[
              {
                "buttonContentText": "Button 5",
                "buttonContentLink": {
                  "url": {
                    "href": "#"
                  }
                },
                "buttonContentShowIcon": false,
                "buttonContentIcon": {
                  "name": "arrow-right"
                },
                "buttonContentIconPosition": "right"
              }
            ],
            groupStyle={
              "alignment": {
                "horizontal_align": "CENTER"
              },
              "buttonStyleSize": "medium",
              "buttonStyleVariant": "primary"
            }
          %}
          {% end_dnd_module %}
        {% end_dnd_row %}
      {% end_dnd_column %}
    {% end_dnd_section %}

  {% end_dnd_area %}

  {% module
    "gettingStarted"
    path="../components/modules/GettingStarted",
    brandColors="{{ theme.brand_color }}",
  %}
{% endblock body %}
