<!--
  templateType: page
  isAvailableForNewContent: true
  label: Landing page
-->
{% extends "./layouts/base.hubl.html" %}

{% import "../helpers/variables.hubl.html" %}

{% block body %}
    {% module
    "Intro"
      path="../components/modules/Intro",
      hero_image={
        "src": get_asset_url("../images/placeholder.png"),
        "alt": ""
      }
    %}

    {% module
      "LogoCarousel"
      path="../components/modules/LogoCarousel",
    %}

    {% module
      "TitleText"
      path="../components/modules/TitleText",
      title="Curated Top picks in LOCATION",
    %}

    {% module
      "Gallery"
      path="../components/modules/Gallery",
    %}

    {% module
      "Data"
      path="../components/modules/Data",
      metricOne={
        "metric": "300+",
        "description": "Large Projects"
      },
      metricTwo={
        "metric": "$18M+",
        "description": "Total Bookings to Date"
      },
      metricThree={
        "metric": "500+",
        "description": "Partner Vendors"
      }
    %}

    {% module
      "TitleText2"
      path="../components/modules/TitleTextServices",
    %}

    {% module
      "InformationWidget"
      path="../components/modules/InformationWidget",
    %}

    {% module
      "CTAIine"
      path="../components/modules/CTAIine",
      headline="Let us do the hard work for you",
      button={
        "buttonContentText": "Book New York Studios",
        "buttonContentLink": {
          "open_in_new_tab": false
        },
        "buttonContentShowIcon": false,
        "buttonContentIcon": {
          "name": "arrow-right"
        },
        "buttonContentIconPosition": "right"
      }
    %}

    {% module
      "SocialProof"
      path="../components/modules/SocialProof",
    %}

    <div class="faq-cta-row">
      {% module
        "FAQ"
        path="../components/modules/FAQ",
      %}

      {% module
        "CTA"
        path="../components/modules/CTA",
      %}
    </div>

{% endblock body %}
