<!--
  templateType: page
  isAvailableForNewContent: true
  label: Landing page
-->
{% extends "./layouts/base.hubl.html" %}

{% import "../helpers/variables.hubl.html" %}

{% block body %}
    {% module
    "Intro"
      path="../components/modules/Intro",
      bg_image={
        "src": get_asset_url("../images/placeholder.png"),
        "background_position": "MIDDLE_CENTER",
        "background_size": "cover"
      }
    %}

    {% module
      "LogoCarousel"
      path="../components/modules/LogoCarousel",
    %}

    {% module
      "Gallery"
      path="../components/modules/Gallery",
    %}

    {% module
      "Data"
      path="../components/modules/Data",
    %}

    {% module
      "InformationWidget"
      path="../components/modules/InformationWidget",
    %}

    {% module
      "SocialProof"
      path="../components/modules/SocialProof",
    %}

    {% module
      "CTA"
      path="../components/modules/CTA",
    %}

{% endblock body %}
